* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textCenter {
    text-align: center;
}

#listIndex {
    list-style-type: none;
    margin-left: -40px;
    font-size: 48px;
}

#listIndex li {
    margin-bottom: 12px;
}

.heading {
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 64px;
}

h2 {
    margin-top: -2px;
}

.description, .ingredients {
    font-size: 24px;
    background-color: beige;
    height: auto;
    width: 60%;
    padding: 10px;;
    border: solid;
    display: inline-block;
    margin-bottom: 24px;
}

.image {
    width: 700px;
    float: left;
    margin-right: 32px;
    margin-bottom: 28px;
}

.steps {
    font-size: 24px;
    float: left;
    background-color: beige;
    padding: 10px;
    border: solid;
    width: 96%;    
}

.home {
    font-size: 32px;
    float: left;
}

